*{
    margin: 0;
    padding: 0;
}

.full-wrapper{
    width: 100%;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.header{
    width: 100%;
    background: rgba(0, 0, 0, .5)
}

.logo{
    width: 50%;
    float: left;
    line-height: 90px;
}

.logo h2{
    color: #fff;
}

.menu{
    width: 50%;
    float: left;
    text-align: right;
    line-height: 90px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
    padding-left: 45px;
    transition: all linear .5s;
}

.menu ul li a:hover{
    color: #28b8d8;
}